body{
  background: rgb(183,6,6);
  background: linear-gradient(90deg, rgba(183,6,6,1) 16%, rgba(253,29,29,1) 71%, rgba(237,61,38,1) 100%);
}
p{
  margin: 18px;
}
.App {
  text-align: center;
}
.particles{
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
h3{
  color: antiquewhite;
  font-family: 'Lobster', cursive;
  }
p{
  color: whitesmoke;
}
