body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
p{
  margin: 18px;
}
.App {
  text-align: center;
}
.particles{
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
h3{
  font-family: 'Lobster', cursive;
  }
